.btn-red{
	width: 120px;
	height: 28px;
	border: 1px solid #EB0A26;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}
.btn-red span{
	color: #EB0A26;
	line-height: 28px;
}
.btn-blue{
	width: 120px;
	height: 28px;
	background-color: #783390;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}
.btn-blue span{
	color: #fff;
	line-height: 28px;
}