
body{
	min-width: 960px;
}
.product-title-space{
	margin-top: 15px;
}

.product-title-color{
	color:#333;
	vertical-align:top;
	padding-top:11px;
}
.product-img-style{
	/* border:1px solid #eee; */
	display:inline-block;
	height:80px;
}
.product-img-style img{
	width:80px;
	height:80px;
}
.product-message-left{
	display:inline-block;
	vertical-align: top;
	margin-left:8px;
}
.product-message-right{
	
}
.product-add-tip{
	vertical-align:top;
}
.product-img-tip{
	color:#777;
	font-size:14px;
	margin-left:-30px;
	padding-top:10px;
}
.space{
	height:10px;
	margin-top:10px;
	background-color:#f5f5f5;
}
.number{
	background-color:#f5f5f5;
	width:100%;
}
.number-space-top{
	padding-top:10px;
}
.pack-message{
	display:inline-block;
	margin-bottom:15px;
}
.product-space-left{
	margin-left:35px;
}
.pack-space-left{
	margin-left:20px;
}
.pack{
	/* border-bottom:2px solid #eee; */
}
.border-bottom-box{
	border-bottom:2px solid #eee;
}

	
.submit{
	margin-top: 40px;
}
.edit{
	cursor:pointer;
}
.setting{
	float:right;
	margin-right:150px;
	padding-top:10px;
}
.complete-edit{
	padding:4px 15px;
	border-radius:5px;
	margin-left:126px;
	cursor:pointer;
	margin-top: 10px;
	border: 1px solid #783390;"
}
.complete{
	padding:4px 15px;
	border-radius:5px;
	margin-left:126px;
	cursor:pointer;
	margin-top: 10px;
	border: 1px solid #783390;"
}
.complete-hide{
	display:none;
}
.complete:link{
	border:1px solid #783390;
}
.complete:visited{
	border:1px solid #783390;
}
.complete:hover{
	border:2px solid #783390;
}
.blue_border{
	display:inline-block;
	padding: 4px 4px 4px 17px;
	cursor:pointer;
	border:1px solid #783390;
	border-radius:4px;
	position:relative;
	bottom: 10px;
	margin-top:20px;
}
.blue_border > a{
	text-decoration:none;
}
.blue_border > a > span{
	color:#783390;
	size: 14px;
	padding-left:2px;
}
.blue_border > a > img{
	height:15%;
	width:15%;
}
.blue_border:hover{
	box-shadow: 0 0 2px #783390;
}
.blue_border:active{
	box-shadow: 0 0 2px #783390;
}
.font-bold{
	font-weight:bold;
}

.product-top-1{
	margin-top:5px;
}
.product-top-2{
	margin-top:5px;
}
.p-input{
	width:45px;
	vertical-align:middle;
}
#product-list ul{
	margin-left: -39px;
}

#product-list ul li{
	list-style-type:none;
}
#product_image{
	cursor:pointer;
}
.option-supplier {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/images/drop-down.png');
    background-repeat: no-repeat;
    background-position: right center;
    min-width: 160px;
    max-width: 280px;
    cursor: pointer;
    padding: 3px 25px 3px 5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 5px;
    border:1px solid #e8e8e8;
}
textarea{
	border:1px solid #999;
}
.delete-border{
	border:none;
}
.font--content{
	color:#222;
}
.font--title{
	color:#666;
}
.main-content a:hover {
    text-decoration: none;
    color: #783390;
}
.main-content a:active {
    text-decoration: none;
    color: #783390;
}
div.title-div p {
	margin-top:1px;
}
.space--left{
	margin-left:24px;
}
.title-width{
	width:120px;
}
#search-rate{
	display: block;
	background: #783390;
	float: right;
	color: white;
	height: 26px;
	line-height: 26px;
	width: 70px;
	text-align: center;
	cursor: pointer;
	margin-top: -33px;
}